@import "_variables";
@import "_breakpoints";

@mixin body-style {
    background-attachment: fixed;
    background           : $body_background-color;
    color                : #f2f2f2;
    font-family          : 'Work Sans', sans-serif;
    margin               : 0;
    padding              : 0;
    width                : 100%;
}

@mixin header-container {
    border-bottom   : 1px solid #fff;
    background-color: $containers_background-color;
    display         : flex;
    height          : 40px;
    padding         : 2px 35px 2px 10px;
    width           : 100%;

    @media (min-width: #{$screen-desktop}) {
        height       : 60px;
        padding-right: 60px;
    }
}

@mixin gh-icon {
    height: 30px;
    margin: 2px 0;
    width : 30px;

    @media (min-width: #{$screen-desktop}) {
        height: 45px;
        margin: 3px 0;
        width : 45px;
    }
}

@mixin project-name {
    display       : inline-block;
    font-family   : 'Oswald', sans-serif;
    font-size     : 22px;
    letter-spacing: 2px;
    line-height   : 10px;
    margin        : 0 auto;
    padding       : 10px;
    text-align    : center;

    @media (min-width: #{$screen-desktop}) {
        font-size     : 35px;
        letter-spacing: 3px;
        margin-top    : 10px;
    }
}

@mixin main-container-style {
    height : 85vh;
    padding: 10px;
}

@mixin project-description {
    font-family   : 'Oswald', sans-serif;
    font-size     : 16px;
    letter-spacing: 2px;
    margin        : 2px 0;
    padding       : 0;
    text-align    : center;

    @media (min-width: #{$screen-desktop}) {
        font-size     : 25px;
        letter-spacing: 3px;
    }

    @media (min-width: #{$screen-LGdesktop}) {
        font-size     : 35px;
    }
}

@mixin user-notification {
    display      : block;
    font-size    : 10px;
    height       : 20px;
    margin-bottom: 10px;
    padding      : 3px 0;
    text-align   : center;
    width        : 100%;

    @media (min-width: #{$screen-tablet}) {
        height        : 25px;
        font-size     : 22px;
        letter-spacing: 2px;
    }

    @media (min-width: #{$screen-desktop}) {
        height   : 30px;
        font-size: 25px;
    }
}

@mixin checkList-container {
    background-color: #1723267c;
    border-radius   : 5px;
    box-shadow      : 10px 5px 5px #070909c9;
    margin          : auto;
    height          : 80%;
    padding         : 10px;
    width           : 90%;
}

@mixin add-task-form {
    height    : 45px;
    margin-top: 5px;
    padding   : 2px 10px;
    width     : 100%;

    @media (min-width: #{$screen-tablet}) {
        height: 50px;
    }
}

@mixin form-input {
    border       : none;
    border-radius: 3px;
    height       : 25px;
    padding-left : 15px;
    width        : 65%;

    @media (min-width: #{$screen-tablet}) {
        font-size: 20px;
        height   : 40px;
        width    : 80%;
    }

    @media (min-width: #{$screen-desktop}) {
        font-size: 20px;
        width    : 85%;
    }

    @media (min-width: #{$screen-LGdesktop}) {
        font-size: 25px;
        width    : 88%;
    }
}

@mixin form-button {
    background-color: #8be4ff;
    border          : none;
    border-radius   : 3px;
    cursor          : pointer;
    font-size       : 15px;
    height          : 25px;
    width           : 65px;

    @media (min-width: #{$screen-tablet}) {
        font-size: 20px;
        height   : 40px;
        width    : 100px;
    }

    @media (min-width: #{$screen-desktop}) {
        font-size: 22px;
        width    : 120px;
    }

    @media (min-width: #{$screen-LGdesktop}) {
        font-size: 25px;
        width    : 130px;
    }
}

@mixin user-task-container {
    margin-top: 5px;
    overflow  : auto;
    padding   : 2px;
    width     : 100%;
}

@mixin user-task-list {
    list-style-type: none;
    height         : 20px;
    margin         : 10px 0;
    padding        : 5px;
    width          : 100%;
}

@mixin user-task {
    cursor       : pointer;
    display      : block;
    font-size    : 15px;
    height       : 20px;
    margin-bottom: 3px;
    width        : 98%;

    @media (min-width: #{$screen-tablet}) {
        font-size    : 22px;
        height       : 25px;
        margin-bottom: 10px;
    }
}

@mixin close-task-button {
    background-color: #ff0000;
    border          : none;
    border-radius   : 3px;
    cursor          : pointer;
    float           : left;
    height          : 20px;
    margin-right    : 10px;
    padding         : 2px;
    width           : 20px;

    @media (min-width: #{$screen-tablet}) {
        font-size: 17px;
        height   : 25px;
        width    : 25px;
    }
}

@mixin checked-task {
    text-decoration: line-through;
}

@mixin footer {
    background-color: $containers_background-color;
    height          : 15px;
    margin-top      : 10px;
    padding-top     : 5px;
    position        : fixed;
    bottom          : 0;
    text-align      : center;
    width           : 100%;

    @media (min-width: #{$screen-tablet}) {
        height     : 20px;
        padding-top: 8px;
    }

    @media (min-width: #{$screen-desktop}) {
        height: 22px;
    }
}

@mixin footer-copyright {
    display       : block;
    font-size     : 8px;
    letter-spacing: 2px;
    line-height   : 5px;
    margin        : auto;

    @media (min-width: #{$screen-tablet}) {
        font-size: 12px;
    }
}